<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<included>
	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="ERROR_CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender"> 
		<layout class="ch.qos.logback.contrib.json.classic.JsonLayout"> <jsonFormatter 
		class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"> <prettyPrint>true</prettyPrint> 
		</jsonFormatter> <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat> 
		</layout> </appender> -->
</included>
